body{
    background-color: red;
}

.mainNav {
    color: rgb(233, 34, 34);
  }
  .navbar-toggler {
    border: 1px solid white;
    border-radius: 2px;
  }
  .navbar-toggler-icon {
    color: #f3f4ed;
  }
  .navbar-brand {
    color: white;
    font-weight: bold;
  }
  .navbar-brand:hover {
    font-size: x-large;
    color: white;
  }
  .mainNav img {
    margin: 0 20px;
  }
  .mainNav ul {
    margin-left: auto;
    margin-right: 50px;
    padding-bottom: 10px;
  }
  .linkStyle {
    color: white;
  }
  .linkStyle:hover {
    color: white;
    border-bottom: 2px solid springgreen;
  }