body{
    background-color: red;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: white;
}
#mainDiv{
    background-color: white;
}
.mainNav{
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #febd0e;
    position: sticky;
    top: 0;
    z-index: 2;
}
.navbar-toggler {
border: 1px solid white;
border-radius: 2px;
}
.navbar-toggler-icon {
color: #2d2d2d;
}
.navbar-brand {
color: #2d2d2d;
font-weight: bold;
padding-bottom: 20px;
padding-top: 20px;
padding-bottom: 30px;
}
.navbar-brand:hover {
font-size: x-large;
color: #2d2d2d;
}
.mainNav img {
margin: 0 20px;
height: 25px;
width: 200px;
}
.mainNav ul {
margin-right: 50px;
}
.leftNavbarItems{
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}
.navIcon{
    color: #2d2d2d;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:700;
    padding-bottom: 20px;
    padding-top: 0;
    border-bottom: 2px solid #ffffff00;
    margin-right: 10px;
    margin-left: 10px;
}
.navIcon:hover{
    color: #2d2d2d;
    /* border-bottom: 2px solid #2557a7; */
    border-bottom: 2px solid black;
}
.navSeparate{
    color: #2d2d2d;
    padding: 0;
    height: 30px;
    background-color: #2d2d2d79;
    width: 2px;
    margin: 5px 20px;
    margin-top: 8px;
}
.linkStyle {
color: #2d2d2d;
font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:16px;
font-weight:400;
padding-bottom: 20px;
border-bottom: 2px solid #ffffff00;
}
.linkStyle:hover {
color: #2d2d2d;
/* border-bottom: 2px solid #2557a7; */
border-bottom: 2px solid black;
}

.findJobDiv{
    padding-top: 20px;
    padding-bottom: 20px;
}
.whatDiv{
    border: 1px solid #2d2d2d;
    padding-top: 5px;
    border-radius: 8px;
    padding-left: 15px;
    margin: 5px 0;
}
.whereDiv{
    border: 1px solid #2d2d2d;
    padding-top: 5px;
    border-radius: 8px;
    padding-left: 15px;
    margin: 5px 0;
}
.findJobButDiv button{
    color:#ffffff;
    background-color: #2353a1;
    padding: 8px 20px;
    border: 0px;
    border-radius: 8px;
    margin: 5px 0;
}
.findJobButDiv button:hover{
    background-color: #1b417e;
}
.jobformInput{
    border: 0px;
    padding: 0 0px;
    width: 250px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.jobformInput:focus{
    outline: none;
}


.findJobFilterDiv .dropdown{
    margin-left: 8px;
    margin-bottom: 10px;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 4px;
}
.findJobFilterDiv .dropdown-toggle{
    background-color: #e4e2e0;
    color: black;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 15px;
}
.findJobFilterDiv .dropdown-toggle:hover{
    background-color: #b8b8b8;
    color: black;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 15px;
}
.findJobFilterDiv .dropdown-item{
    color: #2d2d2d;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
}
.findJobFilterDiv .dropdown-item:hover{
    background-color: rgb(220, 242, 255);
}

/* main body styling */

.mainBody{
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 30px;
    background-color: white;
}


.sortBy{
    display: inline;
}
.page{
    text-align: right;
    margin-left: 100px;
}
.singleJobPosting{
    border:1px solid rgb(143, 142, 142);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
}
.singleJobPosting a{
    text-decoration: none;
    color: black;
}
.singleJobPosting a:hover{  
    color: black;
}
.iicon{
    font-size: smaller;
    font-weight: 100;
    color: #2d2d2dbe;
}
.dott{
    font-size: 4px;
    margin-left: 10px;
}
.jobUl{
    color: #5f5e5e;
    font-size: 15px;
    margin-bottom: 20px;
}
.postDate{
    font-size: 12px;
    color: #504f4f;
}
.jobsIn{
    font-size: 12px;
    color: #767676;
    line-height: 16px;
    font-weight: 400;
    margin-left: 15px;
}
.sortBy{
    color: #2d2d2d;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}
.sortBy a{
    color: #2557a7;
}
.page{
    color: #2d2d2d;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
}
.page i{
    color: #2d2d2d;
}

.bodyRightDiv{
    border: 1px solid rgba(0, 0, 0, 0.267);
    height: 300px;
    padding: 30px 10px;
}
.bodyRightDiv hr{
    width: 100%;
}
.beThe{
    font-size: 14px;
    line-height: 18px;
    font-size: 700;
}
.emailAd{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}
.emailIn{
    border: 1px solid #2d2d2d;
    padding-top: 5px;
    border-radius: 6px;
    padding-left: 15px;
    margin: 5px 0;
}
.activateBut{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px;
    border: 1px solid #2557a7;
    color: #2353a1;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 10px;
    margin-top: 10px;
}
.activateBut:hover{
    background-color: #2353a12f;
}
.byCreating{
    color: #767676;
    font-size: 16px;
    line-height: 16.5px;
    margin-top: 10px;
}

@media only screen and (max-width: 995px) {
    .jobformInput{
        width: 180px;
    }
    .findJobButDiv button{
        padding: 8px 10px;
    }
}
@media only screen and (max-width: 769px) {
    .jobformInput{
        width: 250px;
    }
    .findJobButDiv button{
        padding: 8px 10px;
    }
}
@media only screen and (max-width: 768px) {
    .bodyRightDiv{
        display: none;
    }
}
